body
{
    font-family: 'EB Garamond', sans-serif;
    font-size: 18px;
}

header, footer
{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

.content
{
  background-color: #aaaaaa;
}

.my-imgs
{
   max-width: 100%;
   height: auto;
}

.my-contents
{
   text-align: center;
   text-shadow: 30px;
}

.nav-link
{
  color: #ddd;
  font-size:20px;
}

.nav
{
  align-items: right;
  text-align: right;
}
