body
{
    font-family: 'EB Garamond', sans-serif;
    font-size: 18px;
    background-color: #cccccc;
    color: rgb(10,10,10);
    position: relative;
}

footer
{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

/* colors of the navbar texts and toggle button*/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-collapse>li>a, .navbar-inverse .navbar-brand {
    color: rgb(220,220,220);
}

.navbar-inverse .navbar-toggle .icon-bar
{
  border-color: rgb(220,220,220);
}

.navbar
{
  margin-bottom: 0;
  padding: 15px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-header
{
  font-size:20px;
}

.cbp-af-header-shrink
{
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-brand
{
  font-weight: bold;
}

.my-contents
{
   text-align: center;
   text-shadow: 30px;
}

.fill-screen
{
  background-size: cover;
  background-position: center;
}

 .content-div-center
 {
   display: flex;
   align-items: center;
   justify-content: center;
 }

.fi-header, .fi-paragraph, .fi-name
{
  display: none;
}

.justified-paragraph
{
  text-align: justify;
}

.row
{
  padding-bottom: 50px;
  padding-top: 79px;
}

.odd-row
{
  background-color: #cccccc;
}


.wp-background
{
  background-image: url(../images/nature-wall2-dark.jpg);
  background-attachment: fixed;
}

h1
{
  margin-bottom: 40px;
}

h2
{
  margin-top: 0px;
}

.content-font
{
  padding-left: 15px;
  padding-right:15px;
  font-size: 1.2em;
}

.content-font-wall
{
  padding-left: 15px;
  padding-right:15px;
  font-size: 1.2em;
  color: white;
}

.down-button
{
  position: absolute;
  width: 100%;
  text-align: center;
}

.down-button i
{
  color: black;
}

.contact-me i
{
  color: white;

}

.spacer-span
{
  display: inline-block;
  width: 32px;
}
