body
{
    font-family: 'EB Garamond', sans-serif;
    font-size: 18px;
}

footer
{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

.navbar
{
  margin-bottom: 0;
}

.navbar-header
{
  font-size:20px;
}

.navbar-brand
{
  font-weight: bold;
}
.content
{
  background-color: #aaaaaa;
}

.my-imgs
{
   max-width: 100%;
   height: auto;
}

.my-contents
{
   text-align: center;
   text-shadow: 30px;
}

a.nav-link
{
  color: #ddd;
  font-size:20px;
}

.profile-description
{
  text-align: right;
  margin: 0 auto;
}
