
html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.zero {
  width: 8px;
  height: 8px;
  border: 1px #0C91FF;
  border-style: dotted;
}

.one {
  width: 8px;
  height: 8px;
  border: 1px solid #0C91FF;
  background-color: gold;
}

.control {
  margin: 0 auto;
}

.cycleCounter {
  margin: 0 auto;
}

.start {
  background-color: white;
}

h2 {
  color: white;
}
