body{
  font-family: Helvetica;
  margin: 0;
  background-image: url("../img/libbg.jpg");;
  font-size: 34px;
}

p{
  margin: 10px;
}

h1 {
  margin: 0;
}

#menu-bar{
  background: #06597F;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#menu-bar h1{
  font-size: 34px;
  font-weight: normal;
  display: inline-block;
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  width: 700px;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#userGuess, button {
  height: 30px;

}

#userGuess {
  width: 400px;
  font-size: 34px;
  border: 0;
  border-radius: 5px;
  padding-left: 12px;
}

button {
  width: 150px;
  border-radius: 8px;
  background-color: #FFC897;
}
