body{
  font-family: Helvetica;
  margin: 0;
  background-image: url("../img/libbg.jpg");;
  font-size: 34px;
}

p{
  margin: 10px;
}

h1 {
  margin: 10px;
  font-size: 34px;

}

main {
  background-color: rgba(255, 255, 255, 0.8);
  width: 700px;
  height: 250px;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#userGuess, button {
  height: 30px;
}

#userGuess {
  width: 400px;
  font-size: 26px;
  border: 0;
  border-radius: 5px;
  padding-left: 12px;
}

button {
  width: 150px;
  border-radius: 8px;
  background-color: #291605;
  color: white;
  font-weight: bold;
}

.buttonField {
  height: 150px;
}

.highscores {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

#highscoresVisible {
  left: 35%;
  -webkit-transition: left 500ms;
  transition: left 500ms;
}

#highscoresInvisible {
  left: -125%;
  -webkit-transition: left 500ms;
  transition: left 500ms;
}
